<section>

    <div class="container">

        <div class="row">
    
            <div class="col-md-6 p-5 mb-5">
                <img class="grafica img-fluid" src="assets/grafica3.svg" alt="grafica">
            </div>
    
            <div class="col-md-6 mb-5 d-flex flex-column justify-content-center">
                <h4>Somos</h4>
                <p>Un equipo multidisciplinario con más de <span>20 años de experiencia</span> en el mercado asegurador, servicios y tecnología. Nuestro objetivo es asesorar a nuestros clientes entregándoles innovadores productos que resuelvan <span>“fasilmente”</span> sus problemáticas, centrarse  en sus necesidades, preocupaciones y oportunidades que presenten siempre comprometidos en buscar la mejora de nuestros servicios para nuestros clientes.</p>
            </div>

            <div class="col-md-6 mb-5 d-flex flex-column justify-content-center">
                <h4>Misión</h4>
                <p>Brindar soluciones integrales y confiables en seguros generales, protegiendo los intereses de nuestros clientes en todo momento.</p>
            </div>

            <div class="col-md-6 mb-5"></div>
            <div class="col-md-6 mb-5"></div>

            <div class="col-md-6 mb-5 d-flex flex-column justify-content-center">
                <h4>Visión</h4>
                <p>Ser reconocidos como la Corredora de Seguros líder en Chile, destacada por nuestra excelencia en servicio, innovación en productos y la asesoría especializada.</p>
            </div>

        </div>

        <div class="row mt-5">

            <div class="col-md-6 mb-5">
                <img class="grafica img-fluid" src="assets/grafica4.svg" alt="grafica">
            </div>
    
            <div class="col-md-6 mb-5 d-flex flex-column">
                <h4>Nuestros valores</h4>
                <ul>
                    <li *ngFor="let valor of valores">
                        <span>{{ valor.name }}:</span> {{ valor.text }}
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section>
