<section>

    <img class="bg" src="assets/bg-degrade.svg" alt="bg-degrade">
    
    <div class="container h-100">

        <div class="row">

            <div class="col-md-6 mb-5">
                <img class="grafica" src="assets/grafica1.svg" alt="grafica">
            </div>

            <div class="col-md-6 mb-5 ps-md-5">
                <img class="icon" src="assets/icon-search.svg" alt="icon-search">
                <p>Siempre hay posibilidades de bajar tus costos de seguro, y mejorar tus coberturas</p>
                <h6>Te ofrecemos un amplio catálogo de seguros</h6>
                <button class="btn-blue-wave wave-button">
                    <span>Descúbrelos</span>
                    <div class="wave"></div>
                </button>
            </div>

        </div>

    </div>

</section>