<div class="box-insurance-menu">
    <h6>Encuentra el seguro que necesitas <span>y nosotros nos encargamos de todo</span></h6>

    <div class="row justify-content-center align-items-center">
        <div class="col-6 col-md-2">
            <a routerLink="/productos">
                <img src="assets/icon-car.svg" alt="icon-car">
                <span>Auto</span>
            </a>
        </div>
        <div class="col-6 col-md-2">
            <a routerLink="/productos">
                <img src="assets/icon-heart.svg" alt="icon-car">
                <span>Salud</span>
            </a>
        </div>
        <div class="col-6 col-md-2">
            <a routerLink="/productos">
                <img src="assets/icon-travel.svg" alt="icon-car">
                <span>Viajes</span>
            </a>
        </div>
        <div class="col-6 col-md-2">
            <a routerLink="/productos">
                <img src="assets/icon-house.svg" alt="icon-car">
                <span>Hogar</span>
            </a>
        </div>
        <div class="col-6 col-md-2">
            <a routerLink="/productos">
                <img src="assets/icon-factory.svg" alt="icon-car">
                <span>Empresas</span>
            </a>
        </div>
    </div>

</div>