<div class="box-form">

    <h6>¿Buscando Tranquilidad y Seguridad?</h6>
    <p>Completa nuestro formulario de contacto y encuentra el seguro ideal</p>

    <form>
        
        <div class="row">

            <div class="col-md-6 mb-3">
                <label for="nameInput" class="form-label">Nombre *</label>
                <input type="text" class="form-control" id="nameInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastnameInput" class="form-label">Apellido *</label>
                <input type="text" class="form-control" id="lastnameInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="rutInput" class="form-label">RUT *</label>
                <input type="text" class="form-control" id="rutInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="emailInput" class="form-label">Correo electrónico *</label>
                <input type="email" class="form-control" id="emailInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="phoneInput" class="form-label">Celular *</label>
                <input type="text" class="form-control" id="phoneInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isCar">
                <label for="marcaInput" class="form-label">Marca</label>
                <select class="form-select">
                    <option selected>Selecciona una marca</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isGeneral">
                <label for="marcaInput" class="form-label">Motivo de tu consulta *</label>
                <select class="form-select">
                    <option selected>Selecciona un motivo...</option>
                    <option value="1">Cotización seguro</option>
                    <option value="2">Siniestro</option>
                    <option value="3">Pagos</option>
                    <option value="4">Cambios en póliza</option>
                </select>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isCar">
                <label for="modelInput" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="modelInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isCar">
                <label for="yearInput" class="form-label">Año</label>
                <input type="text" class="form-control" id="yearInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isCar">
                <label for="patenteInput" class="form-label">Patente *</label>
                <input type="text" class="form-control" id="patenteInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="isCar">
                <label for="cuotaInput" class="form-label">Valor cuota actual</label>
                <input type="text" class="form-control" id="cuotaInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="mb-3" *ngIf="isCar">
                <label for="deducibleInput" class="form-label">Deducible</label>
                <input type="text" class="form-control" id="deducibleInput">
                <div class="text-error">Campo obligatorio</div>
            </div>

            <div class="mb-3" *ngIf="isGeneral">
                <label for="inputComments" class="form-label">Comentarios o Preguntas</label>
                <textarea class="form-control" id="inputComments" rows="3"></textarea>
            </div>

        </div>
        
        <p class="info">
            <img src="assets/icon-info.svg" alt="info">
            Estos datos son importantes para buscar las mejores condiciones de tu próximo seguro
        </p>

        <div class="row mt-5">
            <div class="col-md-6">
                <p class="text-start">(*) Campos obligatorios</p>
            </div>
            <div class="col-md-6">
                <button class="btn-blue-wave wave-button">
                    <span>ENVIAR</span>
                    <div class="wave"></div>
                </button>
            </div>
        </div>
    
    </form>


</div>

