<div class="box-form">

    <div *ngIf="!isCotizar">
        <h6>¿Buscando Tranquilidad y Seguridad?</h6>
        <p>Completa nuestro formulario de contacto y encuentra el seguro ideal</p>  
    </div>

    <div *ngIf="isCotizar">
        <h6 class="text-start">Tu Seguridad, Nuestra Prioridad.</h6>
        <p class="text-start">Completa el formulario y obtén asesoramiento profesional en seguros</p>
    </div>

    <form [formGroup]="isCar ? myFormCar : myFormGeneral" (ngSubmit)="onSave()" autocomplete="off">
        
        <div class="row">

            <!-- Name (2) -->
            <div class="col-md-6 mb-2">
                <label class="form-label">Nombre *</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="text-error" *ngIf="isFieldInvalid(myFormCar, 'name')">Campo obligatorio</span>
                <span class="text-error" *ngIf="isFieldInvalid(myFormGeneral, 'name')">Campo obligatorio</span>
            </div>

            <!-- Lastname (2) -->
            <div class="col-md-6 mb-2">
                <label class="form-label">Apellido *</label>
                <input type="text" class="form-control" formControlName="lastname">
                <span class="text-error" *ngIf="isFieldInvalid(myFormCar, 'lastname')">Campo obligatorio</span>
                <span class="text-error" *ngIf="isFieldInvalid(myFormGeneral, 'lastname')">Campo obligatorio</span>
            </div>

            <!-- Rut (2) -->
            <div class="col-md-6 mb-2">
                <label class="form-label">RUT *</label>
                <input type="text" class="form-control" formControlName="rut" (input)="formatRut($event)">
                <div *ngIf="myFormCar.get('rut')?.touched">
                    <span class="text-error" *ngIf="myFormCar.get('rut')?.hasError('required'); else rutError">
                        Campo obligatorio
                    </span>
                    <ng-template #rutError>
                        <span class="text-error" *ngIf="myFormCar.get('rut')?.hasError('invalidRut')">
                            RUT inválido
                        </span>
                        <span class="text-error" *ngIf="myFormCar.get('rut')?.hasError('invalidLength')">
                            El RUT debe tener entre 8 y 9 caracteres
                        </span>
                    </ng-template>
                </div>
                <div *ngIf="myFormGeneral.get('rut')?.touched">
                    <span class="text-error" *ngIf="myFormGeneral.get('rut')?.hasError('required'); else rutError">
                        Campo obligatorio
                    </span>
                    <ng-template #rutError>
                        <span class="text-error" *ngIf="myFormGeneral.get('rut')?.hasError('invalidRut')">
                            RUT inválido
                        </span>
                        <span class="text-error" *ngIf="myFormGeneral.get('rut')?.hasError('invalidLength')">
                            El RUT debe tener entre 8 y 9 caracteres
                        </span>
                    </ng-template>
                </div>
            </div>

            <!-- Email (2) -->
            <div class="col-md-6 mb-2">
                <label class="form-label">Correo electrónico *</label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="myFormCar.get('email')?.touched">
                    <span class="text-error" *ngIf="myFormCar.get('email')?.hasError('required')">
                        Campo obligatorio
                    </span>
                    <span class="text-error" *ngIf="myFormCar.get('email')?.hasError('email') && !myFormCar.get('email')?.hasError('required')">
                        Debe ser un correo electrónico válido
                    </span>
                </div>
                <div *ngIf="myFormGeneral.get('email')?.touched">
                    <span class="text-error" *ngIf="myFormGeneral.get('email')?.hasError('required')">
                        Campo obligatorio
                    </span>
                    <span class="text-error" *ngIf="myFormGeneral.get('email')?.hasError('email') && !myFormGeneral.get('email')?.hasError('required')">
                        Debe ser un correo electrónico válido
                    </span>
                </div>
            </div>

            <!-- Phone (2) -->
            <div class="col-md-6 mb-2">
                <label class="form-label">Celular *</label>
                <input type="text" class="form-control" formControlName="phone" maxlength="9" (input)="validatePhoneInput($event)">
                <div *ngIf="myFormCar.get('phone')?.touched">
                    <span class="text-error" *ngIf="myFormCar.get('phone')?.hasError('required')">
                        Campo obligatorio
                    </span>
                    <span class="text-error" *ngIf="myFormCar.get('phone')?.hasError('invalidLength')">
                        El Celular debe tener 9 números
                    </span>
                </div>
                <div *ngIf="myFormGeneral.get('phone')?.touched">
                    <span class="text-error" *ngIf="myFormGeneral.get('phone')?.hasError('required')">
                        Campo obligatorio
                    </span>
                    <span class="text-error" *ngIf="myFormGeneral.get('phone')?.hasError('invalidLength')">
                        El Celular debe tener 9 números
                    </span>
                </div>
            </div>
            
            <!-- Marca -->
            <div class="col-md-6 mb-2" *ngIf="isCar">
                <label class="form-label">Marca</label>
                <select class="form-select" formControlName="marca">
                    <option selected>Selecciona una marca</option>
                    <option value="toyota">Toyota</option>
                    <option value="chevrolet">Chevrolet</option>
                    <option value="suzuki">Suzuki</option>
                    <option value="peugeot">Peugeot</option>
                    <option value="kia">Kia</option>
                    <option value="nissan">Nissan</option>
                    <option value="ford">Ford</option>
                    <option value="volkswagen">Volkswagen</option>
                    <option value="mg">MG</option>
                    <option value="mazda">Mazda</option>
                    <option value="changan">Changan</option>
                    <option value="great-wall">Great Wall</option>
                    <option value="maxus">Maxus</option>
                    <option value="chery">Chery</option>
                    <option value="jac">JAC</option>
                    <option value="haval">Haval</option>
                    <option value="subaru">Subaru</option>
                    <option value="citroen">Citroen</option>
                    <option value="mitsubishi">Mitsubishi</option>
                    <option value="ram">RAM</option>
                    <option value="dfsk">DFSK</option>
                    <option value="foton">Foton</option>
                    <option value="ssangyong">SsangYong</option>
                    <option value="renault">Renault</option>
                    <option value="opel">Opel</option>
                    <option value="jetour">Jetour</option>
                    <option value="bmw">BMW</option>
                    <option value="honda">Honda</option>
                    <option value="mercedes-benz">Mercedes Benz</option>
                    <option value="gac-motor">GAC Motor</option>
                    <option value="brilliance">Brilliance</option>
                    <option value="geely">Geely</option>
                    <option value="baic">BAIC</option>
                    <option value="jmc">JMC</option>
                    <option value="jeep">Jeep</option>
                    <option value="audi">Audi</option>
                    <option value="kyc">KYC</option>
                    <option value="volvo">Volvo</option>
                    <option value="exeed">Exeed</option>
                    <option value="kaiyi">Kaiyi</option>
                    <option value="fiat">Fiat</option>
                    <option value="skoda">Skoda</option>
                    <option value="mahindra">Mahindra</option>
                    <option value="seat">SEAT</option>
                    <option value="karry">Karry</option>
                    <option value="dfm">DFM</option>
                    <option value="mini">MINI</option>
                    <option value="ds">DS</option>
                    <option value="cupra">CUPRA</option>
                    <option value="zna">ZNA</option>
                    <option value="fuso">Fuso</option>
                    <option value="lexus">Lexus</option>
                    <option value="land-rover">Land Rover</option>
                    <option value="porsche">Porsche</option>
                    <option value="byd">BYD</option>
                    <option value="dong-feng">Dong Feng</option>
                    <option value="alfa-romeo">Alfa Romeo</option>
                    <option value="iveco">IVECO</option>
                    <option value="zxauto">ZXAUTO</option>
                    <option value="maserati">Maserati</option>
                    <option value="dodge">Dodge</option>
                    <option value="jaguar">Jaguar</option>
                    <option value="ferrari">Ferrari</option>
                    <option value="chrysler">Chrysler</option>
                    <option value="bentley">Bentley</option>
                    <option value="otros">Otros</option>
                </select>
            </div>

            <!-- Motivo -->
            <div class="col-md-6 mb-2" *ngIf="isGeneral">
                <label class="form-label">Motivo de tu consulta *</label>
                <select class="form-select" formControlName="motivo">
                    <option selected>Selecciona un motivo...</option>
                    <option value="cotizacion-seguro">Cotización seguro</option>
                    <option value="siniestro">Siniestro</option>
                    <option value="pagos">Pagos</option>
                    <option value="cambios-poliza">Cambios en póliza</option>
                </select>
                <span class="text-error" *ngIf="isFieldInvalid(myFormGeneral, 'motivo')">Campo obligatorio</span>
            </div>

            <!-- Modelo -->
            <div class="col-md-6 mb-2" *ngIf="isCar">
                <label class="form-label">Modelo</label>
                <input type="text" class="form-control" formControlName="model">
            </div>

            <!-- Año -->
            <div class="col-md-6 mb-2" *ngIf="isCar">
                <label class="form-label">Año</label>
                <input type="text" class="form-control" formControlName="year">
            </div>

            <!-- Patente -->
            <div class="col-md-6 mb-2" *ngIf="isCar">
                <label class="form-label">Patente *</label>
                <input type="text" class="form-control" formControlName="patente">
                <span class="text-error" *ngIf="isFieldInvalid(myFormCar, 'patente')">Campo obligatorio</span>
            </div>

            <!-- Cuota -->
            <div class="col-md-6 mb-2" *ngIf="isCar">
                <label class="form-label">Valor cuota actual</label>
                <input type="text" class="form-control" formControlName="cuota">
            </div>

            <!-- Deducible -->
            <div class="mb-2" *ngIf="isCar">
                <label class="form-label">Deducible</label>
                <input type="text" class="form-control" formControlName="deducible">
            </div>

            <!-- Comentarios -->
            <div class="mb-2" *ngIf="isGeneral">
                <label class="form-label">Comentarios o Preguntas</label>
                <textarea class="form-control" rows="3" formControlName="comments"></textarea>
            </div>

        </div>
        
        <div *ngIf="!isCotizar">
            <p class="info">
                <img src="assets/icon-info.svg" alt="info">
                Estos datos son importantes para buscar las mejores condiciones de tu próximo seguro
            </p>
        </div>

        <div *ngIf="isCotizar">
            <p class="info text-start">
                <img src="assets/icon-info.svg" alt="info">
                Estos datos son importantes para buscar las mejores condiciones de tu próximo seguro
            </p>
        </div>

        <!-- Button -->
        <div class="row mt-4">
            
            <div class="col-md-6">
                <p class="text-start">(*) Campos obligatorios</p>
            </div>

            <div class="col-md-6">
                
                <button class="btn-blue-wave wave-button">
                    <span>ENVIAR</span>
                    <div class="wave"></div>
                </button>

            </div>
        </div>
    
    </form>

</div>

