<section class="container">

    <div class="row">
        <div class="col-md-6 pe-md-5 mb-5">
            <h6>¿Por qué contratar un seguro automotriz?</h6>
            <p>
                El robo de autos de manera violenta mediante “encerronas” y “portonazos” es el principal temor que tienen a los conductores en Chile, y una de las principales razones para contratar un seguro.
                <br><br>
                ¿SABÍAS QUE? Hasta agosto de 2022, hubo un total de 7.908 robos de vehículos, lo que representa un 121% mas que el 2021, según el último informe publicado por Carabineros de Chile. 
                <br><br>
                Un robo, un choque o accidente de tránsito, son situaciones que no se planifican. Sin embargo, lo que si podemos planificar es como prepararnos ante esto, al contratar un seguro automotriz.	
                <br><br>
                Prevenir problemas financieros que afecten la economía familiar, es la principal razón para tener un seguro de auto.
            </p>
            <button class="btn-blue-wave wave-button">
                <span>Cotiza tu seguro de auto acá</span>
                <div class="wave"></div>
            </button> 
        </div>
        <div class="col-md-6 mb-5">
            <img src="assets/img-single1-1.jpg" class="img-fluid" alt="img-single">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-5">
            <img src="assets/img-single1-2.jpg" class="img-fluid" alt="img-single">
        </div>
        <div class="col-md-6 ps-md-5 mb-5">
            <h6>¿Qué es un Seguro Automotriz Full Cobertura?</h6>
            <p>
                El Seguro Automotriz full Cobertura es el seguro más completo y al precio más conveniente. Te protege ante cualquier accidente propio o con un tercero, robo, daño o problema que pueda sufrir tu auto y quienes lo conduzcan.
                Específicamente, las coberturas que te entrega este seguro son:
                <br><br>
                <span>Daños Propios:</span> Responde por los daños que pueda sufrir el vehículo, sean estos responsabilidad del propio asegurado o de un tercero.
                <br><br>
                <span>Pérdida Total:</span> Responde por robos o daños superiores a lo establecido en el contrato y que amerite indemnización.
                <br><br>
                <span>Responsabilidad Civil:</span> El seguro automotriz se encarga de cubrir los gastos por daños a terceros, ya sean materiales o a personas, provocados por el vehículo asegurado.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pe-md-5 mb-5">
            <h6>Asistencias del Seguro de Auto Full Cobertura</h6>
            <p>
                <span>Auto de Reemplazo:</span> En caso de siniestro, reemplazamos tu auto
                mientras se encuentra en el taller.
                <br><br>
                <span>Grúa de Emergencia:</span> Cuando tu auto quede inmovilizado, vamos donde estés y llevamos el auto donde tú nos indiques.
                <br><br>
                <span>Conductor de Reemplazo:</span> Para que no te preocupes de pasar las llaves. Te ofrecemos 5 servicios gratis al año y atención las 24 horas del día.
                <br><br>
                <span>Revisión Técnica:</span> Para tu comodidad, llevamos tu auto a la revisión técnica por ti y lo devolvemos a tu domicilio gratis.
            </p>
            <button class="btn-blue-wave wave-button">
                <span>Cotizar</span>
                <div class="wave"></div>
            </button> 
        </div>
        <div class="col-md-6 mb-5">
            <img src="assets/img-single1-3.jpg" class="img-fluid" alt="img-single">
        </div>
    </div>

</section>