<section class="container">

    <div class="row" *ngFor="let content of product?.content; let i = index;">

        <div class="col-md-6 pe-md-5 mb-5">
            <h6> {{ content.title }} </h6>
            <p> {{ content.text }} </p>
            <ul *ngIf="content.list_1" class="list_1">
                <li *ngFor="let item of content.list_1">
                    <span> {{ item.title }} </span>
                    {{ item.text }}
                </li>
            </ul>
            <ul *ngIf="content.list_2" class="list_2">
                <li *ngFor="let item of content.list_2">
                    {{ item.text }}
                </li>
            </ul>
            <button *ngIf="content.button" class="btn-blue-wave wave-button" data-bs-toggle="modal" data-bs-target="#modalCotizar">
                <span> {{ content.button }} </span>
                <div class="wave"></div>
            </button>
        </div>

        <div class="col-md-6 mb-5">
            <img [src]="content.img" class="img-fluid" alt="img-single">
        </div>
    
    </div>

</section>



<modal />