<section class="container">

    <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="btn-blue-wave wave-button active" id="pills-people2-tab2" data-bs-toggle="pill" data-bs-target="#pills-people2" type="button" role="tab" aria-controls="pills-people2" aria-selected="true">
                <span>Personas</span>
                <div class="wave"></div>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn-blue-wave wave-button" id="pills-factory2-tab2" data-bs-toggle="pill" data-bs-target="#pills-factory2" type="button" role="tab" aria-controls="pills-factory2" aria-selected="false">
                <span>Empresas</span>
                <div class="wave"></div>
            </button>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
    
        <!-- Tab Personas -->
        <div class="tab-pane fade show active" id="pills-people2" role="tabpanel" aria-labelledby="pills-people2-tab2" tabindex="0">
            
            <div class="box-insurance-menu">

                <div class="row justify-content-center align-items-center" id="pills-tab" role="tablist">

                    <div class="col-md-2">
                        <a class="nav-link active" id="seguro-tab1" data-bs-toggle="pill" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                            <img src="assets/icon-car.svg" alt="icon-car">
                            <span>Auto</span>
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a class="nav-link" id="seguro-tab2" data-bs-toggle="pill" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                            <img src="assets/icon-heart.svg" alt="icon-car">
                            <span>Salud</span>
                        </a>
                    </div>
                    
                    <div class="col-md-2">
                        <a class="nav-link" id="seguro-tab3" data-bs-toggle="pill" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
                            <img src="assets/icon-travel.svg" alt="icon-car">
                            <span>Viajes</span>
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a class="nav-link" id="seguro-tab4" data-bs-toggle="pill" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">
                            <img src="assets/icon-house.svg" alt="icon-car">
                            <span>Hogar</span>
                        </a>
                    </div>

                </div>
            
            </div>

            <div class="tab-content pt-5" id="pills-tabContent">
                
                <!-- Tab 1 -->
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="seguro-tab1" tabindex="0">
                    
                    <div class="accordion" id="acordeonSeguros1">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Seguro Automotriz
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#acordeonSeguros1">
                                <div class="accordion-body">
                                    Protege tu inversión sobre daños, robos o accidentes, con un seguro automotriz y cuida tu patrimonio
                                    <br>
                                    Cubre daños propios como a terceros.

                                    <table class="table table-striped-columns mt-3">
                                        <thead>
                                            <tr>
                                                <th>¿Que cubre?</th>
                                                <th>¿Que no cubre?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Daños materiales</td>
                                                <td>Los daños preexistentes de mi vehículo</td>
                                            </tr>
                                            <tr>
                                                <td>Robos de accesorios</td>
                                                <td>Siniestros ocasionados por el uso no autorizado del vehículo</td>
                                            </tr>
                                            <tr>
                                                <td>Robo, hurto y uso no autorizado</td>
                                                <td>Usos diferentes al declarado al contratar el seguro</td>
                                            </tr>
                                            <tr>
                                                <td>Huelga, Terrorismo</td>
                                                <td>Los daños bajo la influencia de cualquier droga</td>
                                            </tr>
                                            <tr>
                                                <td>Actos maliciosos</td>
                                                <td>Los daños si el conductor ha huido o abandonado el lugar del accidente</td>
                                            </tr>
                                            <tr>
                                                <td>Sismo granizo y otros riesgos de naturaleza</td>
                                                <td>Siniestros por modificación de piezas o partes del vehículo asegurado.</td>
                                            </tr>
                                            <tr>
                                                <td>Defensa penal</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Responsabilidad civil</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Daños a terceros por conductor dependiente</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Entre otros</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/1">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>

                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Seguro Moto
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#acordeonSeguros1">
                                <div class="accordion-body">
                                    Cobertura de daños materiales, robo o uso no autorizado o responsabilidad civil. Dale tranquilidad a tu vida, al tener un seguro de protección para tu inversión “tu regalona”, ”tu amiga” o ”tu compañera de viaje”.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/2">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    SOAP
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#acordeonSeguros1">
                                <div class="accordion-body">
                                    Seguro Obligatorio de Accidentes Personales.
                                    Este seguro es un requisito obligatorio para transitar en territorio Chileno. 
                                    Da cobertura a personas en caso de lesiones corporales o muerte por consecuencias de un accidente en el que el vehículo asegurado participe.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/3">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Tab 2 -->
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="seguro-tab2" tabindex="0">
                    
                    <div class="accordion" id="acordeonSeguros2">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    Seguro complementario de salud (con consulta de Telemedicina)
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4" data-bs-parent="#acordeonSeguros2">
                                <div class="accordion-body">
                                    
                                    Planes de 60%, 70% y 80% de cobertura de copago.
                                    <br>
                                    Hasta 5 cargas adicionales.
                                    <br>
                                    Prestaciones ambulatorias, Hospitalarias, Maternidad, Psiquiátricas y Psicológicas, etc.
                                    <br>
                                    Cobertura en el extranjero en accidentes y urgencias.
                                    <br>
                                    Cobertura en medicamentos.
                                    
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/4">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>

                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Seguro complementario de salud individual
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#acordeonSeguros2">
                                <div class="accordion-body">
                                    ¡Protegemos tu salud y la de los que más quieres!
                                    <br>
                                    Complementa tu plan Fonasa o Isapre y reduce un 60%, 70% u 80% los gastos médicos por consultas, tratamientos, procedimientos y exámenes hasta cinco cargas adicionales.
                                    <br>
                                    TIENES TELECONSULTAS GRATIS ILIMITADAS, en donde doctores te pueden dar recetas, ordenes, revisión de exámenes, etc. 
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/5">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Seguro de Accidentes Personales
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#acordeonSeguros2">
                                <div class="accordion-body">
                                    Cubre al asegurado o a sus beneficiarios, las lesiones corporales, la incapacidad o la muerte que éste sufra a consecuencias de un accidente que haya ocurrido durante la vigencia de la póliza.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/6">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>

                <!-- Tab 3 -->
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="seguro-tab3" tabindex="0">
                    
                    <div class="accordion" id="acordeonSeguros3">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading7">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                    Seguro Asistencia en viaje
                                </button>
                            </h2>
                            <div id="collapse7" class="accordion-collapse collapse show" aria-labelledby="heading7" data-bs-parent="#acordeonSeguros3">
                                <div class="accordion-body">
                                    Cubre las indemnizaciones y a efectuar las prestaciones contempladas en favor de las personas aseguradas, respecto de una o varias contingencias que puedan sufrir durante un viaje y que se describen en la póliza de seguro
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/7">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>

                                </div>
                            </div>
                        </div>
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading8">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                    RCI (Responsabilidad Civil Internacional)
                                </button>
                            </h2>
                            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#acordeonSeguros3">
                                <div class="accordion-body">
                                    La cobertura cubre al asegurado por el daño que pueda experimentar su patrimonio a consecuencia de la reclamación que le efectúe un tercero, por la responsabilidad en que haya podido incurrir, tanto el propio asegurado como aquellas personas por las cuales él responda civilmente.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/8">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Tab 4 -->
                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="seguro-tab4" tabindex="0">
                    
                    <div class="accordion" id="acordeonSeguros4">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading9">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                    Seguro Incendio hogar
                                </button>
                            </h2>
                            <div id="collapse9" class="accordion-collapse collapse show" aria-labelledby="heading9" data-bs-parent="#acordeonSeguros4">
                                <div class="accordion-body">
                                    
                                    Cobertura para tu hogar contra un daño generado por la acción directa de un incendio, sismo, o incluso el contenido, en caso de robo.
                                    Algunas asistencias de algunos pólizas son gasfitería, electricidad, cerrajería y cristalería.
                                    Hay que estar preparado ante condiciones inevitables como un terremoto y sobre todo en un país tan sísmico como CHILE, dado que nos encontramos dentro de los 6 países mas sísmicos del mundo.

                                    
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/9">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Tab Empresas -->
        <div class="tab-pane fade" id="pills-factory2" role="tabpanel" aria-labelledby="pills-factory2-tab2" tabindex="0">
            
            <div class="box-insurance-menu">

                <div class="row justify-content-center align-items-center" id="pills-tab" role="tablist">
                    <div class="col-md-2">
                        <a class="nav-link active" id="seguro-tab5" data-bs-toggle="pill" data-bs-target="#tab15" type="button" role="tab" aria-controls="tab15" aria-selected="true">
                            <img src="assets/icon-factory.svg" alt="icon-factory">
                            <span>Empresa</span>
                        </a>
                    </div>
                </div>
            
            </div>

            <div class="tab-content pt-5" id="pills-tabContent">
                <div class="tab-pane fade show active" id="tab5" role="tabpanel" aria-labelledby="seguro-tab5" tabindex="0">
                    
                    <div class="accordion" id="acordeonSeguros5">
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading10">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                    Seguro incendio
                                </button>
                            </h2>
                            <div id="collapse10" class="accordion-collapse collapse show" aria-labelledby="heading10" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    
                                    La presente cobertura, cubre, los daños materiales que sufran los objetos asegurados por la acción directa del incendio y los que sean una consecuencia inmediata del mismo, como los causados por el calor, el humo, el vapor o por los medios empleados para extinguirlo o contenerlo; y las demoliciones que sean necesarias u ordenadas por la autoridad competente.
                                    
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/10">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading11">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                    Seguro Pyme
                                </button>
                            </h2>
                            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/11">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading12">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                    Seguro Todo Riesgo de Construcción
                                </button>
                            </h2>
                            <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Cubre al “Asegurado” descrito en las Condiciones Particulares, por los riesgos derivados de Trabajos de Construcción e Ingeniería Civil y por la Responsabilidad Civil, es decir, por la responsabilidad en que haya podido incurrir, tanto el propio asegurado como aquellas personas por las cuales él responda civilmente.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/12">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading13">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                    Seguro Todo Riesgo Montaje
                                </button>
                            </h2>
                            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Cubre al asegurado, descrito en las Condiciones Particulares de la póliza, los riesgos derivados de Trabajos de Montaje, y la Responsabilidad Civil, si ambos riesgos han sido contratados conjuntamente, dentro de los límites, montos, condiciones y demás estipulaciones de estas condiciones Generales y en las condiciones particulares de la Póliza.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/13">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading14">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                                    Seguro Equipo Contratista
                                </button>
                            </h2>
                            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Cubre al asegurado descrito en las Condiciones Particulares de la póliza, los riesgos de daños propios y la responsabilidad civil, si ha sido contratada, dentro de los límites, montos, condiciones y demás estipulaciones indicadas en estas Condiciones Generales y en las Condiciones Particulares de la póliza.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/14">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading15">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                                    Seguro Equipos Electrónicos
                                </button>
                            </h2>
                            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Cubre al asegurado los riesgos de daños físicos, de todas las instalaciones y equipos electrónicos especificados en las Condiciones Particulares de la póliza, llamadas en adelante materia asegurada, una vez que su instalación y puesta en marcha hayan sido finalizadas satisfactoriamente.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/15">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading16">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                                    Responsabilidad Civil
                                </button>
                            </h2>
                            <div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    La cobertura cubre al asegurado por el daño que pueda experimentar su patrimonio a consecuencia de la reclamación que le efectúe un tercero, por la responsabilidad en que haya podido incurrir, tanto el propio asegurado como aquellas personas por las cuales él responda civilmente.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/16">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading17">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                                    Incendio Comunidad
                                </button>
                            </h2>
                            <div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    La presente cobertura, cubre, los daños materiales que sufran los objetos asegurados por la acción directa del incendio y los que sean una consecuencia inmediata del mismo, como los causados por el calor, el humo, el vapor o por los medios empleados para extinguirlo o contenerlo; y las demoliciones que sean necesarias u ordenadas por la autoridad competente.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/17">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading18">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
                                    Seguro automotriz (flotas)
                                </button>
                            </h2>
                            <div id="collapse18" class="accordion-collapse collapse" aria-labelledby="heading18" data-bs-parent="#acordeonSeguros5">
                                <div class="accordion-body">
                                    Lo que se busca es garantizar la tranquilidad y funcionamiento de tu negocio, frente a algún problema.
                                    Protege tu inversión sobre daños, robos o accidentes, con un seguro automotriz y cuida tu patrimonio en tu empresa.
                                    Cubre daños propios como a terceros.
                                    <button class="btn-blue-wave wave-button" routerLink="/productos/18">
                                        <span>Ver más</span>
                                        <div class="wave"></div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    
    </div>

</section>











    