<section class="container">

    <div class="swiper">
                
        <div class="swiper-wrapper">
            
            <div class="swiper-slide" *ngFor="let slide of slides">
                <img class="img-banner" [src]="slide.img" alt="banner">
                <div class="content">
                    <h6> {{ slide.pretitle }} </h6>
                    <p> {{ slide.title }} </p>
                    <button class="btn-blue-wave wave-button" data-bs-toggle="modal" data-bs-target="#modalCotizar">
                        <span>¡Cotiza acá!</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

        </div>
    
        <div class="swiper-button swiper-button-prev">
            <img src="assets/arrow-left.svg" alt="arrow">
        </div>
        <div class="swiper-button swiper-button-next">
            <img src="assets/arrow-right.svg" alt="arrow">
        </div>

    </div>

    <app-insurance-menu></app-insurance-menu>

</section>


<modal />
