<section class="container">

    <div class="swiper">
                
        <div class="swiper-wrapper">
            
            <div class="swiper-slide">
                <img class="img-banner" src="assets/banner1.png" alt="banner">
                <div class="content">
                    <h6>Fasil Seguros</h6>
                    <p>Cubre todo, <br>sin complicaciones</p>
                    <button class="btn-blue-wave wave-button">
                        <span>¡Cotiza acá!</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

            <div class="swiper-slide">
                <img class="img-banner" src="assets/banner2.png" alt="banner">
                <div class="content">
                    <h6>Fasil Seguros</h6>
                    <p>Seguros simples, <br>protección completa</p>
                    <button class="btn-blue-wave wave-button">
                        <span>¡Cotiza acá!</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

            <div class="swiper-slide">
                <img class="img-banner" src="assets/banner3.png" alt="banner">
                <div class="content">
                    <h6>Fasil Seguros</h6>
                    <p>Protección fasil, <br>sin complicaciones</p>
                    <button class="btn-blue-wave wave-button">
                        <span>¡Cotiza acá!</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

        </div>
    
        <!-- <div class="swiper-button swiper-button-prev swiper-button-prev-swiper2">
            <img src="assets/icon-arrow-slider-left-hover.svg" alt="arrow-slider-left">
        </div>
        <div class="swiper-button swiper-button-next swiper-button-next-swiper2">
            <img src="assets/icon-arrow-slider-right-hover.svg" alt="arrow-slider-right">
        </div> -->

    </div>

    <app-insurance-menu></app-insurance-menu>

</section>
