<section class="container" [@pageTransition] class="page page-transition">

    <img class="img" src="assets/img-thanks.svg" alt="thanks">

    <h6 class="gradient"> ¡Gracias por elegir </h6>
    <h2 class="gradient">Fasil Seguros!</h2>

    <p>
        Hemos recibido tus detalles y estamos en marcha para encontrar las mejores opciones de seguro para ti. Pronto te enviaremos opciones personalizadas.
        <br>
        <span>¡Estamos aquí para hacer que todo sea más fácil para ti!</span>
    </p>

    <button routerLink="/inicio" class="btn-blue-wave wave-button">
        <img src="assets/icon-home.svg" alt="home">
        <span>Volver al home</span>
        <div class="wave"></div>
    </button>  

</section>