.modal-dialog {
    overflow: hidden;
}

.close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40px;
    height: 40px;
    z-index: 15;
    border: none;
    border-radius: 100%;
    background-color: #1147D7;
    transition-duration: .3s;
}

.ese {
    max-width: 100%;
    margin-left: -100px;
}

ul {
    justify-content: center;
    border-bottom: none;
    margin-bottom: 30px;
    li {    
        margin: 0 20px;
        button {
            width: 200px;
            height: 30px;
            color: #000;
            background-color: #fff !important;
            border: 1px solid #1147D7;
            span {
                text-transform: capitalize;
                transition-duration: .3s;
            }
            &:hover {
                span {
                    color: #fff;
                }
            }
        }
        button.active {
            border: inherit !important;
            background: linear-gradient(90deg, rgba(0, 224, 238, 1) 0%, rgba(173, 38, 251, 1) 50%, rgba(7, 64, 219, 1) 100%);
            span {
                color: #fff;
            }
        }
    }
}



@media (max-width: 1400px) {}
@media (max-width: 1200px) {}

@media (max-width: 992px) {
    ul {
        li {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 768px) {}
@media (max-width: 576px) {}

