
<nav class="navbar navbar-expand-lg navbar-gradient">

    <div class="container flex-row-reverse flex-md-row h-100">
      
        <a class="navbar-brand" routerLink="">
            <img src="assets/logo.svg" alt="logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-md-5">
                
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/inicio"
                        routerLinkActive="active"
                        (click)="closeMenu()"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">Inicio</a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/nosotros"
                        routerLinkActive="active"
                        (click)="closeMenu()"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        Nosotros
                    </a>
                </li>

                <li id="menu-desk" class="nav-item dropdown">
                    
                    <a id="expand-menu" class="nav-link" (click)="toggleMenu()">
                        Productos
                        <img class="arrow" src="assets/icon-arrow-down.svg">
                    </a>
                    
                    <div class="menu-flotante" [ngClass]="{'expanded': isMenuExpanded}" [@menuAnimation]="isMenuExpanded ? 'slideIn' : 'slideOut'">
                        
                        <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="btn-blue-wave wave-button active" id="pills-people-tab" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="true">
                                    <span>Personas</span>
                                    <div class="wave"></div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="btn-blue-wave wave-button" id="pills-factory-tab" data-bs-toggle="pill" data-bs-target="#pills-factory" type="button" role="tab" aria-controls="pills-factory" aria-selected="false">
                                    <span>Empresa</span>
                                    <div class="wave"></div>
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                        
                            <div class="tab-pane fade show active" id="pills-people" role="tabpanel" aria-labelledby="pills-people-tab" tabindex="0">

                                <div class="row">
                                    
                                    <div class="col-md-6 mb-4">
                                        <h6>
                                            <img src="assets/icon-car.svg" alt="car">
                                            Auto
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/1" (click)="closeMenu()">Seguro Automotriz</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/2" (click)="closeMenu()">Seguro Moto</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/3" (click)="closeMenu()">SOAP</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <h6>
                                            <img src="assets/icon-travel.svg" alt="travel">
                                            Viajes
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/7" (click)="closeMenu()">Seguro Asistencia en viaje</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/8" (click)="closeMenu()">RCI (Responsabilidad Civil Internacional)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <h6>
                                            <img src="assets/icon-heart.svg" alt="heart">
                                            Salud
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/4" (click)="closeMenu()">Seguro complementario de salud (con consulta de Telemedicina)</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/5" (click)="closeMenu()">Seguro complementario de salud individual</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/6" (click)="closeMenu()">Seguro Accidentes Personales</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <h6>
                                            <img src="assets/icon-house.svg" alt="house">
                                            Hogar
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/9" (click)="closeMenu()">Seguro Incendio hogar</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="pills-factory" role="tabpanel" aria-labelledby="pills-factory-tab" tabindex="0">

                                <div class="row">
                                    
                                    <div class="col-md-6 mb-4">
                                        <h6>
                                            <img src="assets/icon-factory.svg" alt="factory">
                                            Empresa
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/10" (click)="closeMenu()">Seguro incendio</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/11" (click)="closeMenu()">Seguro Pyme</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/12" (click)="closeMenu()">Seguro Todo Riesgo de Construcción</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/13" (click)="closeMenu()">Seguro Todo Riesgo Montaje</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/14" (click)="closeMenu()">Seguro Equipo Contratista</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <h6 class="opacity-0">
                                            <img src="assets/icon-factory.svg" alt="factory">
                                            Empresa
                                        </h6>
                                        <ul class="options">
                                            <li>
                                                <a routerLink="/productos/15" (click)="closeMenu()">Seguro Equipos Electrónicos</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/16" (click)="closeMenu()">Responsabilidad Civil</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/17" (click)="closeMenu()">Incendio Comunidad</a>
                                            </li>
                                            <li>
                                                <a routerLink="/productos/18" (click)="closeMenu()">Seguro automotriz (flotas)</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        
                        </div>

                        <div class="line"></div>

                        <a class="all" routerLink="/productos" routerLinkActive="active" (click)="toggleMenu()">
                            Ver todo
                        </a>

                    </div>

                </li>

                <li id="menu-res" class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Productos
                    </a>
                    <ul class="dropdown-menu">
                        
                        <div class="mb-2">
                            <h6>
                                <img src="assets/icon-car.svg" alt="car">
                                Auto
                            </h6>
                            <ul class="options">
                                <li>
                                    <a
                                        routerLink="/productos/1"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro Automotriz
                                    </a>
                                </li>
                                <li>
                                    <a 
                                        routerLink="/productos/2"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro Moto
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/productos/3"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        SOAP
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="mb-2">
                            <h6>
                                <img src="assets/icon-travel.svg" alt="travel">
                                Viajes
                            </h6>
                            <ul class="options">
                                <li>
                                    <a 
                                        routerLink="/productos/7"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro Asistencia en viaje
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/productos/8"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        RCI (Responsabilidad Civil Internacional)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="mb-2">
                            <h6>
                                <img src="assets/icon-heart.svg" alt="heart">
                                Salud
                            </h6>
                            <ul class="options">
                                <li>
                                    <a
                                        routerLink="/productos/4"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro complementario de salud (con consulta de Telemedicina)
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/productos/5"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro complementario de salud individual
                                    </a>
                                </li>
                                <li>
                                    <a
                                        routerLink="/productos/6"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro Accidentes Personales
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="mb-2">
                            <h6>
                                <img src="assets/icon-house.svg" alt="house">
                                Hogar
                            </h6>
                            <ul class="options">
                                <li>
                                    <a
                                        routerLink="/productos/9"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        Seguro Incendio hogar
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="line"></div>

                        <a
                            class="all"
                            routerLink="/productos"
                            routerLinkActive="active"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                            Ver todo
                        </a>

                    </ul>

                </li>

                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/siniestro"
                        routerLinkActive="active"
                        (click)="closeMenu()"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        Denuncia tu siniestro
                    </a>
                </li>

            </ul>
            
            <button
                routerLink="/contacto"
                routerLinkActive="active"
                class="btn-blue-wave wave-button"
                (click)="closeMenu()"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span>Contacto</span>
                <div class="wave"></div>
            </button>           

        </div>

    </div>

</nav>




                                    
    

    
