section {
    margin-bottom: 100px;
    h6 {
        color: #0740DB;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        span {
            font-weight: 600;   
        }
    }
    .accordion {
        .accordion-item {
            border: none;
            margin-bottom: 20px;
            h2 {
                button {
                    border-radius: 10px;
                    background-color: #e7e7e7;
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                }
                button:not(.collapsed) {
                    font-weight: 600;
                }
            }
            .accordion-collapse {
                .accordion-body {
                    color: #000;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}