section {
    margin-bottom: 100px;
    h4 {
        color: #0740DB;
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .box-benefit {
        text-align: center;
        img {
            max-width: 160px;
            transition-duration: 0.3s;
            &:hover {
                animation: rotate-scale-down 0.4s;
            }
        }
        h6 {
            color: #0740DB;
            font-size: 18px;
            font-weight: 500;        
            margin: 20px 0;
            text-transform: capitalize;
        }
        p {
            color: #000;
            font-size: 14px;
            font-weight: 300;
        }
    }
}