<section class="container">

    <h2 class="gradient">¿Quieres evitar <br>que te roben el auto?</h2>
    <p>Aquí tienes unos consejos para tener en cuenta</p>

    <div class="row">

        <div class="col-md-4  mb-5">
            <img src="assets/img-tips1.jpg" class="img-fluid" alt="img-tips">            
        </div>

        <div class="col-md-8  mb-5">

            <ul>
                <li>
                    <h6>Estaciona en lugares autorizados</h6>
                    <p>Los lugares más habituales en que se realizan hurtos de vehículos son en la vía pública, si puedes, trata de estacionar en lugares autorizados. Si no, busca un espacio con buena iluminación.</p>
                </li>
                <li>
                    <h6>No dejes objetos en el interior a la vista</h6>
                    <p>Al bajar de tu automóvil no dejes a la vista objetos de valor, también te recomendamos portar siempre contigo los documentos del vehículo.</p>
                </li>
                <li>
                    <h6>Marcaje de partes</h6>
                    <p>En lo posible, marca vidrios, espejos, partes y piezas de tu vehículo para que, en el caso que lo roben, al delincuente le cueste revenderlo.</p>
                </li>
                <li>
                    <h6>Elementos de seguridad</h6>
                    <p>Trata de utilizar medidas de seguridad complementarias, tales como alarma, corta corriente, traba volante o traba pedal. Si bien, estos elementos por si solos no son suficiente, recuerda que mientras más impedimentos existan, menos atractivo será tu vehículo como objetivo.</p>
                </li>
                <li>
                    <h6>Puertas cerradas</h6>
                    <p>Al cerrar el auto, siempre verifica manualmente que las puertas no se abran. Algunos sistemas tecnológicos bloquean la señal de cierres centralizados. A veces, simplemente por un descuido, podemos facilitarle las cosas a quienes buscan delinquir.</p>
                </li>
                <li>
                    <h6>Patente en mente</h6>
                    <p>Memoriza siempre la placa patente de tu auto.</p>
                </li>
            </ul>

        </div>

    </div>

</section>
