section {
    height: 100vh;
    position: relative;
    h2 {
        font-size: 60px;
        font-weight: 600;
        background: #00E0EE;
        background: -webkit-linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
        background: -moz-linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
        background: linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 40px;
    }
    .icon {
        height: 80px;
        margin-right: 20px;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        color: #0740DB;
    }
    .big-ese {
        height: 100%;
        position: absolute;
        top: 0;
        right: -200px;
        transition-duration: .3s;
        &:hover {
            transform: scale(1.1) translateX(-40px);
        };
    }
}