<section>

    <div class="container h-100">
        <div class="row h-100 align-content-center">
            <div class="col-md-8">
                <h2 class="gradient">En Fasil Seguros trabajamos con las mejores aseguradoras del país</h2>
                <div class="d-flex align-items-center">
                    <img class="icon" src="assets/icon-advisory.svg" alt="advisory">
                    <p>Asesoría profesional y personalizada, acompañamiento en toda la vida de tus seguros</p>
                </div>
            </div>
        </div>
    </div>

    <img class="big-ese" src="assets/ese.svg" alt="ese">

</section>