html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
    padding-top: 120px;
    display: block;
}


.gradient {
    background: #00E0EE;
    background: -webkit-linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
    background: -moz-linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
    background: linear-gradient(to right, #00E0EE 0%, #AD26FB 30%, #0740DB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*========== Efecto ondas en botones ==========*/
.btn-blue-wave {
    width: 100%;
    max-width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background-color: #0740DB !important;
    transition-duration: .3s;
}

.wave-button {
    position: relative;
    border: none;
    background: #3498db;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    span {
        position: relative;
        z-index: 4;
    }
}
  
.wave-button .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(90deg, rgba(0, 224, 238, 1) 0%, rgba(173, 38, 251, 1) 50%, rgba(7, 64, 219, 1) 100%);
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
    z-index: 3;
}
  
.wave-button:hover .wave {
    height: 100%;
    opacity: 1;
}



/*========== SCROLL ==========*/
body::-webkit-scrollbar {
    width: 15px;
    height: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4e4e4e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #4e4e4e;
}

body::-webkit-scrollbar-track {
    width: 8px;
    background-color: #3d96db;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #ccc;
}



/*========== ANIMATIONS ==========*/
.rotate-vertical-center {
    animation: rotate-vertical-center 0.4s;
}

@keyframes rotate-vertical-center {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}


.rotate-scale-down {
    animation: rotate-scale-down 0.4s linear both;
}
  
@keyframes rotate-scale-down {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(0.5) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
}
