section {
    background-color: #E6E6E6;
    padding-bottom: 20px;
    .navbar-brand {
        display: block;
        img {
            width: 100%;
            cursor: pointer;
            transition-duration: .3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    h6 {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        img {
            height: 24px;
        }
    }
    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            list-style: none;
            margin-right: 20px;
            a {
                img {
                    filter: grayscale(100%) brightness(10%);
                    transition-duration: .3s;
                }
                &:hover {
                    img {
                        filter: inherit;
                    }
                }
            }
        }
    }
    table {
        tr {
            th {
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .bt {
        border-top: 2px solid transparent;
        border-image: linear-gradient(90deg, rgba(0, 224, 238, 1) 0%, rgba(173, 38, 251, 1) 50%, rgba(7, 64, 219, 1) 100%);
        border-image-slice: 1;
    }
    .reserved {
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
    }
}




@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    section {
        .navbar-brand {
            text-align: center;
            img {
                width: 100%;
                cursor: pointer;
                transition-duration: 0.3s;
                max-width: 200px;
            }
        }
        table {
            margin: 0 auto;
        }
    }

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}

