<section>

    <div class="container">

        <div class="row justify-content-center align-items-center">
            <div class="col-md-2 my-5">
                <a class="navbar-brand" routerLink="/inicio">
                    <img src="assets/logo.svg" alt="logo">
                </a>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-4 mb-5 mb-md-0">
                <h6 class="justify-content-center justify-content-md-start">
                    <img class="me-3" src="assets/icon-clock.svg" alt="clock">
                    <span>Horario de atención</span>
                </h6>
                <table>
                    <tbody>
                        <tr>
                            <th>Atención al cliente</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Lunes a viernes:</th>
                            <td> {{ horario }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4 mb-5 mb-md-0">
                <h6 class="justify-content-center">Síguenos</h6>
                <ul>
                    <li *ngFor="let red of rrss">
                        <a [href]="red.link" target="blank">
                            <img [src]="red.icon" [alt]="red.name">
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-5 mb-md-0">
                <h6 class="justify-content-center justify-content-md-end">
                    <span>Contacto</span>
                    <img class="ms-3" src="assets/icon-contact.svg" alt="contact">
                </h6>
                <table class="ms-auto">
                    <tbody>
                        <tr>
                            <th>Número:</th>
                            <td> {{ phone }} </td>
                        </tr>
                        <tr>
                            <th>Mail:</th>
                            <td> {{ email }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="pt-3 mt-5 bt">
            <p class="m-0 text-center reserved"><b>Fasil seguros © 2023</b> Todos los derechos reservados</p>
        </div>

    </div>    

</section>