<div [@pageTransition] class="page page-transition">

    <app-banner-siniestro />

    <div class="container">

        <div class="row">

            <div *ngFor="let aseguradora of aseguradoras" class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                
                <div class="box">

                    <div class="logo">
                        <img [src]="aseguradora.logo" [alt]="aseguradora.name">
                    </div>
                    
                    <button class="btn-blue-wave wave-button" (click)="verAseguradora( aseguradora.name )">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </button>

                </div>

            </div>

        </div>

    </div>

    <app-footer />

</div>