<div id="page" [@pageTransition] class="page page-transition">

    <nav class="container p-0 mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-item-link">
                <a routerLink="/inicio"><img src="assets/icon-home-bread.svg"> Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Denuncia tu siniestro</a>
            </li>
        </ol>
    </nav>

    <app-banner-siniestro />

    <div class="container">

        <div class="row">

            <div *ngFor="let aseguradora of aseguradoras" class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                
                <div class="box">

                    <div class="logo">
                        <img [src]="aseguradora.logo" [alt]="aseguradora.name">
                    </div>
                    
                    <a class="btn-blue-wave wave-button" [href]="aseguradora.link" target="_blank">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </a>

                </div>

            </div>

        </div>

    </div>

    <app-footer />

</div>