<div class="page">

    <app-banner-siniestro />

    <div class="container">

        <div class="row">

            <div class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                <div class="box">
                    <div class="logo">
                        <img src="assets/logo-bci.svg" alt="bci">
                    </div>
                    <button class="btn-blue-wave wave-button">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>
            
            <div class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                <div class="box">
                    <div class="logo">
                        <img src="assets/logo-hdi.svg" alt="hdi">
                    </div>
                    <button class="btn-blue-wave wave-button">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

            <div class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                <div class="box">
                    <div class="logo">
                        <img src="assets/logo-liberty.svg" alt="liberty">
                    </div>
                    <button class="btn-blue-wave wave-button">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

            <div class="col-12 col-ms-6 col-md-4 col-lg-3 mb-5">
                <div class="box">
                    <div class="logo">
                        <img src="assets/logo-reale.svg" alt="reale">
                    </div>
                    <button class="btn-blue-wave wave-button">
                        <span>Denunciar siniestro</span>
                        <div class="wave"></div>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <app-footer />

</div>